.modal-background {
  background-color: #212121;
  opacity: 0.75;
}

.title {
  width: 100%;
  color: #ffffff;
  font-size: 60px;
  font-name: "fnt/bizcat.fnt";
  text-align: center;
}

.wrapper {
  border: 1px solid #ff0000;
}